.wrapper {
    width: 340px;
    height: 540;
    padding: 10px;
    border-radius: 10px;
    background-color: aquamarine;
    background-image: -o-linear-gradient(315deg, #485461 0%, #28313b 74%);
}